extends ./layout
	
block content
	//- Sort / Search / Filter
	- showSearch = false
	if slug === 'talks'
		- showSearch = true
	
	if showSearch
		.search-wrapper
			section.section.divider
				form.form.search-form
					.input-group
						input.form-control.search-form-text-input
			script(data-search-file='/talks/talks.json').
				loadScript('search');
				loadScript(function(){
					console.log('Calling...');
					(function($){
						$.fn.searchFactory({
							tags: ['speakers','tags']
						});
					}(jQuery))
				})
			
				

	//- Files
	include ./components/cards
	- var perRow = 4
	- var cardOpts = {}
	if slug === 'talks'
		- cardOpts.speakers = true
		- cardOpts.event = true
	if slug === 'speakers'
		- cardOpts.website = false
	if slug === 'events'
		- cardOpts.location = false
		- cardOpts.dates = true
	if slug === 'events' && pagination.num === 1
		- var upcomingEvents = []
		- var pastEvents = []
		each event in pagination.files
			if !event.startDate || moment(event.startDate).isAfter(moment(),'day')
				- upcomingEvents.push(event)
			else
				- pastEvents.push(event)
		if upcomingEvents.length>0
			- perRow = 3
			section.section-divider
				h2 Upcoming Events
				each i, index in upcomingEvents
					if index%perRow === 0
						.row
							each item in upcomingEvents.slice(index,index+perRow)
								.col-sm-4
									+card(item,cardOpts)
		if pastEvents.length>0
			- perRow = 4
			section.section-divider
				h2 Past Events
				each i, index in pastEvents
					if index%perRow === 0
						.row
							each item in pastEvents.slice(index,index+perRow)
								.col-sm-6.col-md-3
									+card(item,cardOpts)
	else
		section.section-divider
			each i, index in pagination.files
				if index%perRow === 0
					.row
						each item in pagination.files.slice(index,index+perRow)
							.col-sm-6.col-md-3
								+card(item,cardOpts)

	section.section-divider
		//- Pagination
		nav.pagination-wrapper(aria-label='Page navigation')
			ul.pagination
				if pagination.previous
					li
						a(href=pagination.previous.canonical, aria-label='Previous')
							span(aria-hidden='true') «
				if pagination.pages.length > 1
					each page,index in pagination.pages
						li
							a(href=page.canonical)!= index+1
				if pagination.next
					li
						a(href=pagination.next.canonical, aria-label='Previous')
							span(aria-hidden='true') »