extends ./layout

block contentWrapper
	- var ev = fileIDMap[event.sys.id]
	section#content-wrapper
		.container
			include ./layout/warnings
		#content
			.embed-wrapper
				.container
					include ./components/responsive-embed
					if oembed
						+oembed(oembed)
					else
						+embed(embedUrl)
			.container
				header#header
					h1.page-title#page-title!= typogr.typogrify(title)
				section.talk-basic-info.section-no-divider
					h2.sr-only About this talk
					h3.sr-only Speakers
					.talk-speakers
						include ./helpers/format-multiple-speakers
						+formatMultipleSpeakers(speakers)
					h3.sr-only Event
						h4.talk-event-title
							a(href=ev.canonical)!= ev.title
				section.talk-description.section-divider
					!= contents