mixin applicationForm(eventSlug)
  if (eventSlug === 'boston')
    .bizzabo-sections-widget(data-unique-name="204236" data-tab-id="1293240")
    script.
      window.bz_widget_env = "https://events.bizzabo.com"
      loadScript("https://organizer.bizzabo.com/widgets/sections/sections.js")
  else
    p Applications opening soon!