mixin embedLink(item, opts)
	- var options = opts || {}
	- var showSpeakers = options.speakers === false ? false : true;
	- var showEvent = options.event || false;
	figure.embed-link(class='embed-link-'+item.contentType)
		.embed-link-thumbnail(style="background-image: url(https:"+item.thumbnail.fields.file.url+");")
			.content
				a.embed-link-play-link(href=item.canonical)
					.embed-link-play-icon-wrapper
						i.fa.fa-play-circle
		figcaption.embed-link-caption
			h4.embed-link-title
				a(href=item.canonical)!= item.title
			if showSpeakers
				p.embed-link-speakers
					each s, index in item.speakers
						- var speaker = fileIDMap[s.sys.id]
						a.embed-link-speaker(href=speaker.canonical)!= speaker.title
						if item.speakers.length > 2 && index < item.speakers.length-1
							| , 
						if item.speakers.length > 1 && index === item.speakers.length-1
							|  &amp; 

			if showEvent
				p.embed-link-event
					- var event = fileIDMap[item.event.sys.id]
					a(href=event.canonical)!= event.title