mixin jobTitle(speaker)
	- speaker = speaker || {}
	- var title = speaker.jobTitle || jobTitle
	- var org = speaker.organization || organization
		span.job-title
			!= title
	if title && org
		| , 
	if org
		span.organization
			a(href=org.fields.website target="_blank")!= typogr.typogrify(org.fields.title)